<h1>Editer l'article</h1>

<% if @post.errors.any? %>
	<div class="alert alert-danger">
		<% @post.errors.full_messages.each do |message| %>
			<%= message %>
	    <% end %>
	</div>
<% end %>

<%= form_for @post, html: {multipart:true} do |f| %>

	<div class="form-group">
	<label>Image de l'article</label>
	<%= f.file_field :image %>
	<div>

	<div class="form-group">
	<label>Titre de l'article</label>
	<%= f.text_field :title, class: 'form-control' %>
	<div>

<%= form_for @post do |f| %>
	<div class="form-group">
	<label>URL de l'article</label>
	<%= f.text_field :slug, class: 'form-control' %>
	<div>

	<div class="form-group">
	<label>Contenu de l'article</label>
	<%= f.text_area :content, class: 'form-control' %>
	<div>

	<div class="form-group">
	<label>Id de la catégorie</label>
	<%= f.text_area :category_id, class: 'form-control' %>


	<div class="form-group">
	<button type="submit" class="btn btn-primary">Modifier l'article</button>
	<div>
<% end %>
<% end %>
